<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_style_sheet.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/my_script.js')}}"></script>
    <title></title>
  </head>
  <body>
    <p>Yay, {{name}}! You successfully created another GET route that serves a page!</P>
    <p>Phrase: {{phrase}}</p>
    <p>Times:  {{times}}</p>
    {% for x in range(0,times) %}
    <p>{{ phrase }}</p>
    {% endfor %}
  </body>
</html>
